@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@1,600&display=swap');

/* Primary Color */
:root {
    --Soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Dark-desaturated-cyan-graphic-design-text: hsl(167, 40%, 24%);
    --Dark-blue-photography-text: hsl(198, 62%, 26%);
    --Dark-moderate-cyan-footer: hsl(168, 34%, 41%);

    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
}

/* Global Elements */
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.container {
    width: 95%;
    margin: auto;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-size: 18px;
    font-family: 'Fraunces', serif;
    font-family: 'Barlow', sans-serif;
}








/* Media Query */

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {

}

@media screen and (max-width: 320px) {
    
}